body{
  background-color: #141414;
  color: white;
  font-family: 'Roboto', sans-serif;
}
/* 
.modal {
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);

  animation-name: fadeIn;
  animation-duration: .3s
}

.modal .modal-content {
  position: relative;
  background-color: #181818;
  margin: auto;
  width: 890px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal .modal-content .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  margin: 1rem;
}

.modal .modal-content .close svg {
  width: 20px;
  height: 20px;
  background-color: #181818;
  border-radius: 50%;
  padding: 8px;
}

.modal .modal-content .modal-hero {
  position: relative;
}

.modal .modal-content .modal-hero img{
  width: 100%;
}

.modal .modal-content .modal-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#181818));
  background-image: linear-gradient(180deg, transparent 50%, #181818);
  opacity: 1;
}

.modal .modal-content .modal-header {
  padding: 1rem 3rem;
  font-size: 18px;
}

.modal .modal-content .modal-header .details-MetaData {
  margin-bottom: .5rem;
}

.modal .modal-content .modal-header .details-MetaData div {
  display: inline-block;
}

.modal .modal-content .modal-header .details-MetaData .maturity-rating {
  line-height: 1rem;
  margin: 0;
  vertical-align: middle;
}

.modal .modal-content .modal-header .supplemental-message {
  font-size: 1rem;
  font-weight: 600;
  display: inline;
}

.modal .modal-content .modal-header .supplemental-message span {
  vertical-align: middle;
  line-height: 90px;
}

.modal .modal-content .modal-body {
  padding: 2px 16px;
  padding: 0 3rem;
}

.modal .modal-content .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.overlay {
  overflow-x: hidden;
}

.overlay.active .overlay-svg svg {
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  width: 250%;
}

.overlay-svg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.overlay-svg svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.modal-open {
  overflow: hidden;
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeOut {
  from {opacity: 1} 
  to {opacity: 0}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;

  animation-duration: .3s
} */
