<template>
  <div class="app">
    <slider></slider>
  </div>
</template>
<script>
const default_layout = "default";


export default {
  computed: {},
  data() {
      return {
          message:'Hello World desde VUE con WATCH!'
      }
  }
};
</script>